<nav>
  <a routerLink="/welcome" id="site-title">NEXT GROOVE</a>
  <span *ngIf="!getCurrentUser()">
    <ul>
      <li><a routerLink="/register">REGISTER</a></li>
      <li><a routerLink="/login">LOGIN</a></li>
      <li><a routerLink="/browse/">BROWSE</a></li>
  </ul>
  </span>
  <span *ngIf="getCurrentUser()">
    <ul>
      <li><a routerLink="/profile/collection">COLLECTION</a></li>
      <li><a routerLink="/contribute">CONTRIBUTE</a></li>
      <li><a routerLink="/browse/">BROWSE</a></li>
      <li><a routerLink="/logout">LOGOUT</a></li>
    </ul>
  </span>

</nav>
