#collection-list{
  margin-right: 5%;
}
.collection-listings{
  display: grid;
  grid-template-columns: 30% 55% 15%;
  grid-template-rows: 100%;
}
.collection-covers{
  max-width: 100%;
}
#scrollable-list{
  height: 100vh;
  overflow-y: auto;
}
#album-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}
#buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
button{
  width: 60%;
  margin: 4% 0%;
}
header{
  display: inline-flex;
  justify-content: space-between;
  margin-top: 2%;
}
h2{
  display: inline;
}
#heading{
  margin-left: 35%;
}
#greeting{
  margin: 0 40% 0 5%;
}
.center-flex{
  margin-left: 75%;
}
#end-session{
  margin-right: 2%;
}

