<section *ngIf="!mySelection" id="scrollable-list">
  <div id="header">
    <h2 id="greeting">Hi, {{myProfile.name}}</h2>
    <h2 id="heading">Your Collection</h2>
  </div>
  <ul id="collection-list" *ngFor="let album of myCollection">
    <li>
      <mat-card class="collection-listings">
        <img src="{{album.coverArtURL}}" class="collection-covers">
        <div id="album-info">
          <div>
          <mat-card-title>{{album.title}}</mat-card-title>
          <mat-card-subtitle>{{album.artist}}   |   {{album.genre.name}}</mat-card-subtitle>
          </div>
          <div id="ratings">
            <div id="tone">
              <mat-card-content>TONE</mat-card-content>
              <mat-card-content>Production: {{album.avgHLVal}}</mat-card-content>
              <mat-card-content>Arrangement: {{album.avgMDVal}}</mat-card-content>
            </div>
            <div id="mood">
              <mat-card-content>MOOD</mat-card-content>
              <mat-card-content>Tempo: {{album.avgFSVal}}</mat-card-content>
              <mat-card-content>Emotion: {{album.avgUDVal}}</mat-card-content>
            </div>
          </div>
        </div>
        <div id="buttons">
          <button (click)="selectAlbum(album)" id="select-button">select</button>
          <button (click)="goToRating(album)" id="rating-button">rate</button>
          <button (click)="removeFromCollection(album)" id="remove-button">remove</button>
        </div>
      </mat-card>
    </li>
  </ul>
</section>
<section *ngIf="mySelection">
  <app-session [selection]="mySelection" [collection]="myCollection"></app-session>
</section>
