#album-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.album-cover{
  max-width: 60%;
}
.album-listing{
  border: black 2px solid;
  text-align: center;
  padding-top: 10%;
  margin: 2%;
}
h3, h4{
  margin-bottom: 0;
}
