<div id="browse-page">
  <span id="search">
    <h2>Looking for something specific?</h2>
    <form>
      <input [(ngModel)]="searchInput" type="text" placeholder="search by title or artist" name="searchbar" (keyup)="pushSearch(searchInput)">
    </form>
    <select [(ngModel)]="genreFilter" name="genreFilter" (select)="genreFilter()">
      <option value="-1">---</option>
      <option *ngFor="let genre of genres; index as i" value="{{i}}"> {{genre.name}}</option>
    </select>
  </span>
  <section class="album-grid" *ngIf="!searchInput">
    <mat-card class="album-listing" *ngFor="let album of albums">
      <img src="{{album.coverArtURL}}" class="album-cover">
      <mat-card-title>{{album.title}}</mat-card-title>
      <mat-card-subtitle>{{album.artist}}</mat-card-subtitle>
      <button (click)="addToCollection(album)">ADD TO COLLECTION</button>
    </mat-card>
  </section>
  <section class="album-grid" *ngIf="searchInput">
    <mat-card class="album-listing" *ngFor="let album of filteredAlbums">
      <img src="{{album.coverArtURL}}" class="album-cover">
      <mat-card-title>{{album.title}}</mat-card-title>
      <mat-card-subtitle >{{album.artist}}</mat-card-subtitle>
      <button (click)="addToCollection(album)">ADD TO COLLECTION</button>
    </mat-card>
    <p *ngIf="!filteredAlbums && searchInput">No results</p>
  </section>
</div>
