<div>
  <h2>Have something not listed?</h2>
  <form>
    <input [(ngModel)]="title" name="title" placeholder="title">
    <input [(ngModel)]="artist" name="artist" placeholder="artist">
    <input [(ngModel)]="genre" name="genre" placeholder="genre">
    <input [(ngModel)]="coverURL" name="coverUrl" placeholder="link to cover art">
    <input [(ngModel)]="hL" name="hL" placeholder="Production Rating">
    <input [(ngModel)]="mD" name="mD" placeholder="Arrangement Rating">
    <input [(ngModel)]="fS" name="fS" placeholder="Tempo Rating">
    <input [(ngModel)]="uD" name="uD" placeholder="Emotion Rating">
    <br>
    <input (click)="createAlbum()" type="submit" value="submit">
  </form>
</div>
